/* manrope-regular - latin */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/manrope-v4-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/manrope-v4-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* manrope-600 - latin */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    src: local(''),
    url('../fonts/manrope-v4-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/manrope-v4-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* manrope-800 - latin */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    src: local(''),
    url('../fonts/manrope-v4-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/manrope-v4-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

* {
    outline: none !important;
}

body {
    font-family: 'Manrope', serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
}

// arrow to top

.arrow-to-top {
    z-index: 1;
    position: fixed;
    bottom: 30px;
    right: 30px;
    height: 50px;
    width: 50px;
    transition: .2s;

    &__svg {
        fill: rgb(214, 179, 253);
    }

    &:hover {
        height: 53px;
        width: 53px;
    }

    &:hover .arrow-to-top__svg {
        fill: rgb(121, 227, 223);
    }
}

// arrow to top end

// header

.wrapper {
    max-width: 1110px;
    margin: auto;
}

:root {
    --color: black;
}

.header {
    z-index: 10;
    margin-top: 17px;
    position: sticky;
    top: 0;

    &__burger {
        display: none;
        position: relative;
        width: 30px;
        height: 20px;

        &:before {
            content: '';
            background-color: black;
            position: absolute;
            width: 100%;
            height: 2px;
            top: 0;
            transition: all .3s ease 0s;
        }

        &:after {
            content: '';
            background-color: black;
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: 0;
            transition: all .3s ease 0s;
        }

        & span {
            background-color: black;
            position: absolute;
            left: 0;
            width: 100%;
            height: 2px;
            top: 9px;
            transition: all .3s ease 0s;
        }
    }

    &__wrapper {
        max-width: 1180px;
        margin: auto;
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 22px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        font-weight: bold;
    }

    &__item {
        position: relative;
        margin-left: 32px;

        &:last-child {
            display: flex;
        }
    }

    &__link {
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: black;
        text-decoration: none;
        transition: .1s;

        &:hover {
            color: rgb(119, 0, 255);
        }
    }

    &__link-last {
        padding-right: 10px;
        color: var(--color);
    }

    &__top {
        background: rgba(255, 255, 255, 0.25);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(8.0px);
        -webkit-backdrop-filter: blur(8.0px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
    }

    .forMozila {
        background: rgba(255, 255, 255, 0.9);
    }

    &__top-wrapper {
        padding-bottom: 16px;
        display: flex;
        justify-content: space-between;
        max-width: 1110px;
        margin: auto;
        padding-left: 30px;
        padding-right: 30px;
    }

    &__download-link {
        text-decoration: none;

        &:last-child {
            margin-left: 12px;
        }
    }

    &__download {
        margin-top: 16px;
    }

    &__download-media {
        display: none;
    }

    .header__arrow {
        position: relative;
        cursor: pointer;
        width: 25px;
        height: 20px;

        &-left {
            position: absolute;
            top: 10px;
            left: 0;
            width: 12px;
            height: 2px;
            display: block;
            transform: rotate(35deg);

            &:after {
                content: "";
                background-color: var(--color);
                width: 12px;
                height: 2px;
                display: block;
                border-radius: 50px;
                transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
                z-index: -1;
            }
        }

        &-right {
            position: absolute;
            top: 10px;
            left: 9px;
            width: 12px;
            height: 2px;
            display: block;
            transform: rotate(-35deg);

            &:after {
                content: "";
                background-color: var(--color);
                width: 12px;
                height: 2px;
                display: block;
                border-radius: 50px;
                transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
                z-index: -1;
            }
        }
    }

    .open .header__arrow-left:after {
        transform-origin: center center;
        transform: rotate(-70deg);
    }

    .open .header__arrow-right:after {
        transform-origin: center center;
        transform: rotate(70deg);
    }

    // SUB MENU
    &__sub-item-li {
        margin-bottom: 9px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__sub-link {
        padding: 3px 5px;
        text-decoration: none;
        color: black;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        border-radius: 5px;

        &:hover {
            background-color: rgba(196, 145, 255, 0.5);
        }
    }

    &__sub-item-ul {
        margin-top: 12px;
        display: none;
        position: absolute;
        width: 106px;
        top: 20px;
        left: 20px;
        padding: 20px 15px 15px 15px;
        background: rgba(225, 214, 252, 0.9);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
    }

    .active {
        display: block;
    }

    // SUB MENU END
}

// header end

// intro

.intro {
    overflow-x: hidden;
    position: relative;
    z-index: 2;
    background: url(../img/introBackground.jpg) no-repeat center;
    background-size: cover;
    padding-bottom: 16px;
    margin-top: -91px;

    &__h1 {
        margin-top: 240px;
        margin-bottom: 32px;
        font-weight: 800;
        font-size: 72px;
        line-height: 98px;
        color: black;
    }

    &__left-side {
        padding-left: 30px;
    }

    &__parallax {
        margin-right: 30px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__parallax-bg1 {
        background-image: url("../img/phone-img.webp");
        background-position: center center;
        background-size: 90%;
        background-repeat: no-repeat;
        width: 390px;
        height: 720px;
        transition: all 0.1s ease;
        margin: 120px -60px auto auto;
    }

    &__img-for-media {
        display: none;
        max-width: 70%;
        margin: auto;
    }

    &__button-helper {
        max-height: 5px;
    }
}

// main button in intro

$openSans: 'Open Sans', Helvetica, Arial, sans-serif;

$cyan: #8C30F5;
$dark: #FFFFFF;
$borderW: 2px;

.blob-btn {
    $numOfBlobs: 4;
    z-index: 1;
    position: relative;
    padding: 20px 46px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    color: $cyan;
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
    outline: none;
    border: none;
    transition: color 0.5s;
    cursor: pointer;
    border-radius: 10px;

    &:before {
        content: "";
        z-index: 1;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border: $borderW solid $cyan;
        border-radius: 10px;
    }

    &:after {
        content: "";
        z-index: -2;
        position: absolute;
        left: $borderW*1.5;
        top: $borderW*1.5;
        width: 100%;
        height: 100%;

        transition: all 0.3s 0.2s;
        border-radius: 10px;
    }

    &:hover {
        color: $dark;
        border-radius: 10px;

        &:after {
            transition: all 0.3s;
            left: 0;
            top: 0;
            border-radius: 10px;
        }
    }

    &__inner {
        z-index: -1;
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        background: #ffffff;
    }

    // additional container created, because in FF blobs are breaking overflow:hidden of element with svg gooey filter
    &__blobs {
        position: relative;
        display: block;
        height: 100%;
        filter: url('#goo');
    }

    &__blob {
        position: absolute;
        top: $borderW;
        width: 125% / $numOfBlobs;
        height: 125%;
        background: $cyan;
        border-radius: 100%;
        transform: translate3d(0, 150%, 0) scale(1.7);
        transition: transform 0.45s;

        @supports (filter: url('#goo')) {
            transform: translate3d(0, 150%, 0) scale(1.4);
        }

        @for $i from 1 through $numOfBlobs {
            &:nth-child(#{$i}) {
                left: ($i - 1) * (120% / $numOfBlobs);
                transition-delay: ($i - 1) * 0.08s;
            }
        }

        .blob-btn:hover & {
            transform: translateZ(0) scale(1.7);

            @supports (filter: url('#goo')) {
                transform: translateZ(0) scale(1.4);
            }
        }
    }

}

// main button in intro end

// intro end

// clients

.clients {
    overflow-x: hidden;
    background-color: white;
    position: relative;
    z-index: 2;
    padding-bottom: 16px;

    &__gray-line {
        height: 1px;
        background: linear-gradient(90deg, white 0%, rgb(163, 163, 163) 50%, white 100%);
        margin-bottom: 25px;
    }

    &__items {
        max-width: 800px;
        display: flex;
        justify-content: space-around;
        margin: auto auto 25px auto;
        padding-right: 30px;
        padding-left: 30px;
    }
}

// clients end

// tailor-made

.tailor-made {
    overflow-x: hidden;
    position: relative;
    z-index: 2;
    background-color: white;
    padding-top: 64px;

    &__h2 {
        font-weight: 800;
        font-size: 48px;
        line-height: 64px;
        text-align: center;
    }

    &__text {
        font-weight: normal;
        font-size: 18px;
        line-height: 32px;
        text-align: center;
        max-width: 600px;
        margin: auto auto 48px auto;
        padding-right: 10px;
        padding-left: 10px;
    }

    &__advantages-block-h5 {
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        margin-bottom: 8px;
    }

    &__advantages-block-text {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
    }

    &__advantages-block-img {
        display: block;
        margin: auto auto 24px auto;
    }

    &__advantages {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 30px;
        grid-row-gap: 64px;
        margin-bottom: 64px;
        padding-left: 30px;
        padding-right: 30px;
    }
}

// tailor-made end

// stories

.stories {
    background-color: #D5FAFC;
    overflow-x: hidden;
    overflow-y: hidden;

    &__h2 {
        font-weight: 800;
        font-size: 48px;
        line-height: 64px;
        margin-top: -60px;
        margin-left: 95px;
        margin-bottom: 8px;
    }

    &__text {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 32px;
        margin-left: 95px;
        margin-bottom: 24px;
    }

    &__quote-mark {
        margin-top: 64px;
    }

    &__two-sides {
        display: flex;
        justify-content: center;
    }

    &__left-side {
        margin-right: 30px;
    }

    &__content-block {
        max-width: 350px;
        padding: 32px;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 10px 20px rgba(41, 41, 42, 0.07);

        &-img-company {
            width: 140px;
            height: 40px;
            margin-bottom: 32px;
            display: block;
        }

        &-img-quote {
            max-width: 16px;
            max-height: 14px;
        }

        &-all-text {
            padding-left: 32px;
            margin-top: -14px;
        }

        &-text {
            margin-bottom: 24px;
            font-weight: normal;
            font-size: 18px;
            line-height: 32px;
        }

        &-autor {
            font-weight: bold;
            font-size: 18px;
            line-height: 28px;
        }

        &-autor-position {
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            color: #969BAB;
        }
    }

    &__block-1 {
        margin-left: 100px;
    }

    &__block-2 {
        max-width: 445px;
        margin-bottom: 32px;
        margin-top: -143px;
    }

    &__block-3 {
        max-width: 350px;
        margin-bottom: 80px;
    }
}

// stories end

//stats

.stats {
    overflow-x: hidden;

    &__h2 {
        font-weight: 800;
        font-size: 48px;
        line-height: 64px;
        margin-bottom: 8px;
    }

    &__text {
        font-weight: normal;
        font-size: 18px;
        line-height: 32px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        padding-top: 80px;
    }

    &__right-side {
        display: flex;
    }

    &__block {
        display: flex;
        width: 255px;
        height: 66px;
        margin-bottom: 40px;
        margin-left: 30px;
    }

    &__item-img {
        width: 32px;
        height: 32px;
        margin-top: 15px;
        margin-right: 20px;
    }

    &__left-side {
        padding-left: 30px;
    }

    &__count {
        font-weight: 800;
        font-size: 28px;
        line-height: 40px;
    }

    &__description {
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
    }
}

[data-aos="new-animation"] {
    -webkit-transform: rotate3d(-1, 1, 0, -360deg);
    transform: rotate3d(-1, 1, 0, -360deg);
    opacity: 0;

    &.aos-animate {
        -webkit-transform: rotate3d(-1, 1, 0, 0deg);
        transform: rotate3d(-1, 1, 0, 0deg);
        opacity: 1;
    }
}

//stats end

//image-of-phone

.image-of-phone {
    overflow-x: hidden;

    &__content {
        display: flex;
        align-items: center;
        margin-top: 64px;
        margin-bottom: 64px;
        padding-left: 30px;
    }

    &__h3 {
        font-weight: 800;
        font-size: 40px;
        line-height: 54px;
        margin-bottom: 32px;
    }

    &__description {
        font-weight: normal;
        font-size: 18px;
        line-height: 32px;
        margin-bottom: 32px;
        max-width: 450px;
    }

    &__button {
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        text-decoration: none;
        color: #8C30F5;
        padding-right: 8px;
    }

    &__content-text {
        margin-left: 79px;
        margin-right: 49px;
    }

    &__arrow {
        position: relative;
        animation: mymove 2s infinite;
    }

    @keyframes mymove {
        0% {
            left: 0;
        }
        50% {
            left: 10px;
        }
        100% {
            left: 0;
        }
    }

    &__parallax {
        width: 540px;
        height: 540px;
        background-color: #F1E4FF;
        border-radius: 8px;
        overflow: hidden;
    }

    &__parallax-bg2 {
        background-image: url("../img/phone-img.webp");
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 390px;
        height: 720px;
        transition: all 0.1s ease;
        margin: 90px 50px auto auto;
    }
}

//image-of-phone end

//bulbs

.bulbs {
    padding-top: 64px;
    padding-bottom: 64px;
    overflow-x: hidden;

    &__content {
        display: flex;
        justify-content: space-between;
        margin-bottom: 48px;
    }

    &__wrapper {
        padding-left: 30px;
        padding-right: 30px;
    }

    &__h3 {
        font-weight: 800;
        font-size: 40px;
        line-height: 54px;
        max-width: 540px;
        margin-right: 20px;
    }

    &__text {
        font-size: 18px;
        line-height: 32px;
        max-width: 540px;
    }

    &__img {
        width: 100%;
    }
}

//bulbs end

//pre-footer

.pre-footer {
    background-color: #2EC5CE;
    overflow: hidden;
    height: 491px;

    &__left-side {
        padding-top: 68px;
        padding-bottom: 68px;
    }

    &__h3 {
        font-weight: 800;
        font-size: 48px;
        line-height: 64px;
        margin-bottom: 8px;
    }

    &__text {
        max-width: 540px;
        font-size: 18px;
        line-height: 32px;
        margin-bottom: 48px;
    }

    &__after-text {
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
    }

    &__download {
        margin-top: 8px;
    }

    &__img1 {
        max-width: 272px;
        max-height: 504px;
        margin-right: -130px;
        margin-top: -100px;
    }

    &__img2 {
        max-width: 272px;
        max-height: 504px;
        margin-top: 80px;
        margin-right: -25px;
    }

    &__all-content {
        display: flex;
        justify-content: space-between;
        padding-left: 30px;
        padding-right: 30px;
    }
}

//pre-footer end

//footer

.footer {
    overflow-x: hidden;
    background-color: black;
    color: white;

    &__content {
        display: flex;
        justify-content: space-between;
        padding: 56px 30px 56px 30px;
    }

    &__logo {
        margin-bottom: 24px;
    }

    &__links-1 {
        margin-bottom: 12px;
    }

    &__links-2 {
        margin-bottom: 24px;
    }

    &__link {
        text-decoration: none;
        margin-right: 24px;
        font-size: 16px;
        line-height: 26px;
        color: white;
    }

    &__copywriting {
        font-size: 14px;
        line-height: 24px;
        color: #bbbdc2;
    }

    &__download {
        display: flex;
        flex-direction: column;
    }

    &__after-text {
        margin-bottom: 16px;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        color: #bbbdc2;
    }

    &__download-link {
        margin-bottom: 16px;
    }
}

//footer end


// media queries !!!!!!!

@media (max-width: 970px) {
    .arrow-to-top {
        &__svg {
            fill: rgb(214, 179, 253);
        }

        &:hover .arrow-to-top__svg {
            fill: rgb(214, 179, 253);
        }
    }
    .intro {
        &__left-side {
            padding-left: 50px;
        }

        &__parallax {
            margin-right: 50px;
        }
    }
    .stories {
        &__block-1 {
            margin-left: 30px;
        }

        &__block-2 {
            margin-right: 30px;
            margin-top: -60px;
        }
    }
    .stats {
        &__wrapper {
            flex-direction: column;
        }

        &__left-side {
            margin: auto auto 50px auto;
        }

        &__right-side {
            margin: auto;
        }

        &__block {
            width: 200px;
        }
    }
    .image-of-phone {
        &__content {
            flex-direction: column;
        }

        &__content-text {
            margin-top: 40px;
        }
    }
    .pre-footer {
        height: 551px;

        &__img2 {
            margin-top: 145px;
        }
    }
    .bulbs {
        &__text {
            max-width: 400px;
        }
    }
}

@media (max-width: 930px) {
    body.lock {
        overflow: hidden;
    }
    .header {
        &__burger {
            display: block;
            margin-right: 50px;
            justify-self: end;

            &.active:before {
                transform: rotate(45deg);
                top: 9px;
            }

            &.active:after {
                transform: rotate(-45deg);
                bottom: 9px;
            }

            &.active span {
                transform: scale(0);
            }
        }

        &__top {
            position: fixed;
            top: 0;
            left: 0;
            height: 70px;
            width: 100%;
            transition: all .5s ease 0s;
            overflow: auto;

            &.active {
                height: 100%;
            }
        }

        &__link {
            font-size: 34px;
            line-height: 50px;
        }

        &__sub-item-ul {
            width: 156px;
            margin-top: 32px;
            left: 50px;
        }

        &__arrow {
            margin-top: 18px;
        }

        &__sub-link {
            font-size: 24px;
            line-height: 25px;
        }

        &__nav {
            margin-left: 18px;
            margin-top: 50px;
        }

        &__list {
            display: flex;
            flex-direction: column;
        }

        &__download-pc {
            display: none;
        }

        @keyframes slide-in-right {
            0% {
                transform: translateX(100px);
                opacity: 0;
            }
            100% {
                transform: translateX(0);
                opacity: 1;
            }
        }

        &__download-media {
            margin: 25px 50px 180px 0;
            animation: slide-in-right 0.5s;
        }

        &__download-media.active {
            display: flex;
            flex-direction: column;
        }

        &__download-link {
            text-align: right;
        }

        &__download-link {
            &:last-child {
                margin-left: 0;
                margin-top: 10px;
            }
        }

        &__logo {
            margin-left: 50px;
        }

        &__container {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

    }
}

@media (max-width: 876px) {
    .pre-footer {
        height: 591px;

        &__img2 {
            margin-top: 185px;
        }
    }
}

@media (max-width: 850px) {
    .pre-footer {
        height: 650px;

        &__img2 {
            margin-top: 260px;
        }
    }
    .bulbs {
        &__text {
            max-width: 300px;
        }
    }
}

@media (max-width: 768px) {
    .intro {
        &__wrapper {
            flex-direction: column;
        }

        &__h1 {
            margin-top: 190px;
        }

        &__left-side {
            margin-left: 10px;
        }

        &__parallax-bg1 {
            display: none;
        }

        &__img-for-media {
            display: block;
        }
    }

    .clients {
        &__items {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-row-gap: 20px;

        }

        &__item-img {
            width: 120px;
            margin-left: 45px;
        }
    }

    .tailor-made {
        padding-top: 14px;

        &__advantages {
            grid-template-columns: 1fr 1fr
        }
    }

    .stories {
        &__left-side {
            margin-right: 10px;
        }

        &__block-1 {
            margin: 60px 0 0 10px;
            display: table;
        }

        &__block-2 {
            margin: -10px 10px 10px 0;
            display: table;
        }
    }

    .bulbs {
        text-align: center;

        &__content {
            display: flex;
            flex-direction: column;
        }

        &__h3 {
            margin: auto auto 20px auto;
            text-align: center;
        }

        &__text {
            margin: auto auto 10px auto;
            text-align: center;
            max-width: 540px;
        }
    }
    .pre-footer {
        height: 690px;

        &__img2 {
            margin-top: 290px;
            margin-right: -10px;
        }

        &__all-content {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    .footer {
        &__content {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

@media (max-width: 748px) {
    .pre-footer {
        height: 630px;

        &__img1 {
            margin-right: -230px;
        }

        &__img2 {
            margin-top: 220px;
        }
    }
}

@media (max-width: 676px) {
    .pre-footer {
        height: 660px;

        &__img2 {
            margin-top: 250px;
        }
    }
}

@media (max-width: 648px) {
    .intro {
        &__h1 {
            font-size: 52px;
            line-height: 60px;
        }
    }
    .tailor-made {
        &__h2 {
            font-size: 38px;
        }
    }
    .pre-footer {
        &__img1 {
            margin-right: -230px;
        }

        &__img2 {
            margin-right: -75px;
        }
    }
    .stories {
        &__h2 {
            font-size: 38px;
            line-height: 54px;
        }

        &__two-sides {
            display: block;
        }

        &__block-1 {
            margin-left: 20px;
        }

        &__block-2 {
            margin: 20px 20px 20px 180px;
        }

        &__block-3 {
            margin-bottom: 80px;
            margin-left: 20px;
        }
    }
    .stats {
        &__h2 {
            font-size: 38px;
            line-height: 54px;
            text-align: center;
        }

        &__text {
            padding-right: 10px;
            padding-left: 10px;
            text-align: center;
        }
    }
    .image-of-phone {
        &__content {
            padding-left: 0;
        }

        &__h3 {
            font-size: 30px;
            line-height: 44px;
        }
    }
    .clients {
        &__item-img {
            margin-left: 20px;
            margin-right: 20px;
        }
    }
    .bulbs {
        &__h3 {
            font-size: 30px;
            line-height: 44px;
        }
    }
    .pre-footer {
        height: 590px;

        &__h3 {
            font-size: 38px;
            line-height: 54px;
        }

        &__img2 {
            margin-top: 210px;
        }
    }
}

@media (max-width: 586px) {
    .header {
        &__logo {
            margin-left: 10px;
        }

        &__burger {
            margin-right: 10px;
        }
    }
    .intro {
        &__h1 {
            margin-right: 30px;
        }
    }
    .stories {
        &__block-2 {
            margin: 20px 20px 20px 120px;
        }
    }
    .pre-footer {
        &__img1 {
            margin-right: -230px;
        }

        &__img2 {
            margin-right: -135px;
        }
    }
    .image-of-phone {
        &__parallax {
            width: 440px;
            height: 440px;
        }

        &__parallax-bg2 {
            margin: 90px auto auto auto;
        }
    }
}

@media (max-width: 538px) {
    .stats {
        &__left-side {
            padding: 0;
        }
    }
    .header {
        &__logo {
            margin-left: 0;
        }

        &__burger {
            margin-right: 0;
        }

        &__item {
            margin-left: 0;
        }

        &__nav {
            margin-left: 0;
        }

        &__download {
            margin-right: 0;
            margin-top: 40px;
        }
    }
    .stories {
        &__block-2 {
            margin: 20px 20px 20px 80px;
        }
    }
    .pre-footer {
        height: 680px;

        &__img2 {
            margin-top: 250px;
        }

        &__download-pic {
            margin-top: 10px;
        }

        &__download {
            margin-top: 0;
        }
    }
}

@media (max-width: 460px) {
    .clients {
        &__items {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-row-gap: 20px;

        }
    }
    .pre-footer {
        height: 600px;

        &__img1 {
            margin-right: -260px;
            margin-top: -200px;
        }

        &__img2 {
            margin-right: -195px;
            margin-top: 350px;
        }
    }
    .image-of-phone {
        &__parallax {
            width: 340px;
            height: 340px;
        }

        &__parallax-bg2 {
            background-size: 300px;
            margin: -70px auto auto auto;
        }

        &__content-text {
            margin-left: 50px;
        }
    }
    .tailor-made {
        &__advantages {
            padding: 0 10px 0 10px;
        }
    }
    .stories {
        &__block-1 {
            margin-left: 10px;
        }

        &__block-2 {
            margin: 10px 10px 10px 50px;
        }

        &__block-3 {
            margin-left: 10px;
        }

        &__h2 {
            padding-right: 10px;
            font-size: 30px;
            line-height: 44px;
        }
    }
    .bulbs {
        &__wrapper {
            padding: 0 10px 0 10px;
        }
    }
    .stats {
        &__right-side {
            flex-direction: column;
        }
    }
}

@media (max-width: 404px) {
    .header {
        &__top-wrapper {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    .intro {
        &__h1 {
            font-size: 32px;
            line-height: 38px;
            margin-right: 10px;
        }

        &__left-side {
            padding-left: 10px;
            margin-left: 0;
        }
    }
    // main button in intro
    .blob-btn {
        padding: 10px 26px;
        margin-bottom: 0;
    }
    // main button in intro end
    .tailor-made {
        &__h2 {
            font-size: 30px;
            padding-left: 10px;
            padding-right: 10px;
        }

        &__advantages {
            grid-column-gap: 10px;
        }
    }
    .stories {
        &__h2 {
            margin-left: 40px;
            margin-top: -50px;
        }

        &__text {
            margin-left: 40px;
        }

        &__left-side {
            margin: 0;
        }

        &__block-1 {
            margin: auto;
        }

        &__block-2 {
            margin: 10px;
        }

        &__block-3 {
            margin: auto auto 50px auto;
        }
    }
    .image-of-phone {
        &__content-text {
            margin-left: 10px;
            margin-right: 10px;
        }
    }
    .pre-footer {
        height: 791px;

        &__all-content {
            display: flex;
            flex-direction: column;
        }

        &__img1 {
            margin: -50px auto auto auto;
        }

        &__img2 {
            display: none;
        }

        &__h3 {
            font-size: 30px;
            line-height: 34px;
        }
    }
    .arrow-to-top {
        height: 35px;
        width: 35px;

        &:hover {
            height: 35px;
            width: 35px;
        }
    }
}

@media (max-width: 375px) {
    .tailor-made {
        &__h2 {
            line-height: 40px;
        }
    }
    .stories {
        &__content-block {
            margin-left: 10px;
            margin-right: 10px;
        }
    }
    .image-of-phone {
        &__parallax {
            width: 290px;
        }

        &__parallax-bg2 {
            background-size: 280px;
            margin: -70px auto auto -40px;
        }
    }
}

